# Opta Agent {{ template "chart.deprecationWarning" . }}

[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/opta-agent)](https://artifacthub.io/packages/search?repo=opta-agent) {{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.valuesSection" . }}