[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kopf = "1.31.0"
aiohttp = "3.7.4"

[dev-packages]
ipython = "*"
pytest = "*"
black = "==19.3b0"
mypy = "*"
isort = "*"
flake8 = "*"
pyyaml = "*"
coverage = "*"
requests-mock = "*"
alembic-verify = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
